<div class="filters2">
    <div class="container">
        <div class="left">



        </div>
        <div class="right">

            <ul class="nav navbar-nav navbar-right menu-login">

                <li><a href="/#" data-status="1" class="status-filter btn-header {{? it.selectedStatus==1}} active {{?}}">{{=Polyglo.t('createCampaign.toWrite')}} </a></li>
                <li><a href="/#" data-status="2" class="status-filter btn-header {{? it.selectedStatus==2}} active {{?}}">{{=Polyglo.t('createCampaign.toEdit')}}</a></li>
                <li><a href="/#" data-status="3" class="status-filter btn-header {{? it.selectedStatus==3}} active {{?}}">{{=Polyglo.t('createCampaign.toAudit')}}</a></li>
                <li><a href="/#" data-status="4" class="status-filter btn-header {{? it.selectedStatus==4}} active {{?}}">{{=Polyglo.t('createCampaign.Done')}}</a></li>


            </ul>

        </div>
        <div style="clear:both"></div>

    </div>
</div>