<div class="container">
    <div class="row header-step">
        
    </div>
    <form id="step-form" action="#">
        <div>
            <h3>{{=Polyglo.t('general.download')}}</h3>
            <section>
                <div id="import-drop-target" class="bs-dropzone">
                    <div class="import-header">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    </div>
                    <p class="lead">{{=Polyglo.t('general.collect_text')}}</p>
                    <p>{{=Polyglo.t('general.configure_text')}} </br>
                        <a href="social-analytics.zip" style="color:#CD3A93;" target="_blank"><strong>{{=Polyglo.t('general.download_plugin')}}</strong></a>.
                        {{=Polyglo.t('general.install_active')}}
                    </p>
                    <hr>
                    <p><strong>{{=Polyglo.t('general.how')}}</strong> {{=Polyglo.t('general.later')}}</p>
                </div>
            </section>
            <h3>{{=Polyglo.t('general.schedule')}}</h3>
            <section>
                <p>{{=Polyglo.t('general.after')}}</p>
                <img src="styles/images/paso 2.png" class="img-responsive">
            </section>
            <h3>{{=Polyglo.t('general.connection_ga')}}</h3>
            <section>
                <p>{{=Polyglo.t('general.review')}}</p>
                <p>{{=Polyglo.t('general.setup')}}</p>
                <img src="styles/images/paso 3.png" class="img-responsive">
            </section>
            <h3>{{=Polyglo.t('general.sync')}}</h3>
            <section>
                <p>{{=Polyglo.t('general.App')}}</p>
                <img src="styles/images/paso 4-1.png" class="img-responsive">
                <img src="styles/images/paso 4-2.png" class="img-responsive">
            </section>
        </div>
    </form>

</div>