<section>
    <div id="register-container">
        <div id="register-content-block">
            <div id="register-internal-title">
                <h2>{{=Polyglo.t('profile.billing')}}</h2>
            </div>
            <div style="text-align:center;">
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Período</th>
                        <th>Tipo de subscrição</th>
                        <th>Preço</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01/2016</td>
                        <td>Básica</td>
                        <td>0,00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
    </div>
</section><!--==main end=-->

<div class="clearfix"></div>
