<section>
    <div id="register-container">
        <div id="register-info-top" >
            <div id="InfoText">
                {{=Polyglo.t('registration.invitationMessage')}}
            </div>

        </div>
        <div id="register-content-block">
            <div id="register-internal-title">
                <h2>{{=Polyglo.t('profile.createAccount')}}</h2>
            </div>
            <div style="text-align:center;">
                <div id="imageTemplate"  >

                </div>
                <div style="clear: both"></div>
            </div>
            <div style="text-align:center;">
                <div id="formUserTemplate">

                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
    </div>
</section><!--==main end=-->

<div class="clearfix"></div>

