<section>
    <div id="register-container">
        <div id="register-content-block">
            <div id="register-internal-title">
                <h2>{{=Polyglo.t('manageTeam.inviteUser')}}</h2>
            </div>
            <div style="text-align:center;">
                <br>
                <div id="formUserTemplate">

                </div>
                <div class="error" id="errcontainerinvite" style="margin: -15px -14px 10px 0px;"></div>
                <button class="login-button" id="buttonUserInvite" style="width: 90%;" type="button">convidar</button>
            </div>
            <br>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
    </div>
</section><!--==main end=-->

<div class="clearfix"></div>
